<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body>
 <div class="login">
	<h1>Prediction </h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="number" name="age" placeholder="age" required="required" />
        <input type="number" name="sexe" placeholder="sexe" required="required" />
        <input type="number" name="tdt"  placeholder="tdt" required="required" />
        <input type="number" name="par"  placeholder="par" required="required" />
        <input type="number" name="cholesterol"   placeholder="cholesterol" required="required" />
        <input type="number" name="gaj" placeholder="gaj" required="required" />
		<input type="number" name="ecg" placeholder="ecg" required="required" />
        <input type="number" name="fcmax"   placeholder="fcmax" required="required" />
        <input type="number" name="angine" placeholder="angine" required="required" />
        <input type="number" name="depression"   placeholder="depression" required="required" />
        <input type="number" name="pente" placeholder="pente" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>
